img:hover{
    /* filter: invert(18%) sepia(85%) hue-rotate(198deg) saturate(100%) brightness(100%) contrast(100%); */
    filter: invert(0.18) hue-rotate(197deg) sepia(0.85);
    /* background: yellow; */
    display: inline;
}

#stars {
    white-space: nowrap;
    
}
#stars div{
    display: inline-block;
}

#stars img{
    height: 1em;
}


